/* table.css */
.table {
  color: #000 !important;
  background: #fff !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fafafa !important;
}
.table-bordered {
  border: 1px solid #e0e0e0 !important;
}
.table th {
  color: #000000 !important;
  font-weight: 600;
}
.table td {
  vertical-align: middle;
}
